

<div class="search-container">
    <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search products"
    />
</div> <br />

<button class="btn" routerLink="/add-product">
  Add Product
</button>

<select [formControl]="categoryControl">

  <option [ngValue]="null">-- All Categories --</option>

  <option
    *ngFor="let category of (categoryStore.categories$ | async)"
    [ngValue]="category.id">
    {{ category.name }}
  </option>

</select>

<div *ngIf="productStore.loading$ | async" class="loading" style="padding: 15px;font-weight: bold;">
  Loading products...
</div>

<table class="product-table" *ngIf="!(productStore.loading$ | async)">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>SKU</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of (productStore.products$ | async)?.items">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>R{{ product.price }}</td>
      <td>{{ product.sku || 'N/A' }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <div class="button-row">
          <button class="btn view-btn">View</button>

          <button
            class="btn delete-btn"
            (click)="onDelete(product.id)">
            Delete
          </button>
        </div>
      </td>

    </tr>
  </tbody>

</table>

<div class="pagination" *ngIf="!(productStore.loading$ | async)">

  <button (click)="prevPage()" [disabled]="(productStore.products$ | async)?.pageNumber === 1">
    Previous
  </button>

  <span>
    Page {{ (productStore.products$ | async)?.pageNumber }} of {{ (productStore.products$ | async)?.totalCount }}
  </span>

  <button (click)="nextPage()" [disabled]="((productStore.products$ | async)?.pageNumber ?? 1) * 
            ((productStore.products$ | async)?.pageSize ?? 10) >= 
            ((productStore.products$ | async)?.totalCount ?? 0)">
    Next
  </button>

</div>